.contactList {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.contactContainer {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border: 1px solid #020202;
  border-radius: 4px;
  min-width: calc(33.33% - 12px);
}

.icons {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.firstIcon {
  margin-bottom: 4px;
}
